* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}
#app-container {


	.header-container {
		height: 500px;
		text-align: center;
		padding-top: 100px;
		background-color: white;
	}
	.icon-container {
		height: 100px;
		background-color: white;
		text-align: center;

		.icon {
			font-size: 75px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.about-me-container {
		height: 300px;
		background-color: Khaki;
	}

	.image-container {
		background-image: url("../images/nov-16-coop-bowtie.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 0 0;
		background-size: cover;

		padding: 240px 0;

		.work-better {
			height: 150px;
		}
	}

	.projects-container {
		height: 500px;
		background-color: white;
	}
}
