* {
	box-sizing: border-box;
}

body{
	font-family: 'Cinzel', serif;
}
#app-container {
	// hr {
	// 	color: orchid;
	// }

	.header-container {
		height: 300px;
		text-align: center;
		padding-top: 100px;
		// border-bottom: 5px solid orchid;
		background-image: url('http://www.loriswebs.com/textures/images/parchment2.jpg');
	}
	.icon-container {
		height: 200px;
		background-color: white;
		text-align: center;
		// border-bottom: 5px solid orchid;
		background-image: url('http://www.loriswebs.com/textures/images/parchment2.jpg');
		padding-top: 50px;

		button {
			margin-right: 30px;
			margin-right: 30px;
			margin-top: 10px;

		}

		.icon {
			font-size: 75px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.about-me-container {
		height: 225px;
		background-color: white;
		margin-bottom: 5px;
		background-image: url('http://www.loriswebs.com/textures/images/parchment2.jpg');
	}

	.image-wrapper {

		background-image: url('http://www.loriswebs.com/textures/images/parchment2.jpg');

		.image-container {
			background-image: url("../images/nov-16-coop-bowtie.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center;
			background-size: contain;

			padding: 150px 0;
		}
	}

	.projects-container {
		text-align: center;
		height: 500px;
		background-image: url('http://www.loriswebs.com/textures/images/parchment2.jpg');

		.project {
			text-align: center;

			.button-wrapper {

				button {
					margin: auto;
				}
			}
		}
	}

	.footer {
		height: 100px;
		padding-top: 5px;
		text-align: center;

		button {
			margin: auto;

		}
	}
}
